
<div class="wrap">
  <div class="search">
     <input type="text" class="searchTerm" placeholder="What are you looking for?"  [(ngModel)]="searchText">     
     <button type="submit" class="searchButton">
       <i class="fa fa-search"></i>
    </button>
  </div>
</div>

<!-- <div class="data">
<div class="ng-autocomplete">
  <ng-autocomplete
    [data]="this.cartoonData"
    [searchKeyword]="keyword"
    placeholder="Enter the Cartoon Name"    
    historyIdentifier="this.cartoonData"
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate"
     >
    

  </ng-autocomplete>
 

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>
</div>
<div class="searchicon">
<i class="fa fa-search icon"></i>
</div> -->

<h1>Trending Cartoons</h1>

<div class="container">
  <div class="row" style="gap:30px">
    <ng-container *ngFor="let cartoon of cartoonData.slice(0,5) | filter:searchText  | orderBy:'priority' let i=index" >
      <div class=" product card col-md-2 d-flex justify-content-center align-items-center g-3">
        <a routerLink="['/cartoons',cartoon.id]" routerLinkActive="routerActive"  ></a>
        <img  src="{{cartoon.imageurl}}" alt="" class="imageone" routerLink="/cartoons" routerLinkActive="routerActive" (click)="cartoons(cartoon)">
      </div>
    </ng-container>
  </div>
</div>

